{% extends 'admin.html.twig' %}

{% block admin %}
    <div class="d-flex justify-content-between align-items-center">
        <h1>Invités</h1>
        <a href="{{ path('admin_guest_add') }}" class="btn btn-primary">Ajouter</a>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Nom utilisateur</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for guest in guests %}
            <tr>
                <td>{{ guest.username }}</td>
                <td>
                    {% if guest.restricted == false %}
                        <a href="" class="btn btn-warning">Bloquer l'accès</a>
                    {% else %}
                        <a href="" class="btn btn-secondary">Débloquer l'accès</a>
                    {% endif %}
                    <a href="" class="btn btn-danger">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}